<dl is="mtg_deck">
<dt><%= name %><% if (description) { %><span><%= description %></span><% } %></dt>
<dd>
<% if (deckList.mainboard.length > 0) { %>
<dl is="mtg_deck_mainboard">
<dt>Mainboard</dt><dd><ul>
<% deckList.mainboard.forEach(function(slot){ %>
<li>
<span is="mtg_deck_count"><%= slot.count %></span>
<span is="mtg_deck_cardname"><%= slot.card.name %></span>
<% }) %>
</ul></dd></dl>
<% } %>
<% if (deckList.sideboard.length > 0) { %>
<dl is="mtg_deck_sideboard">
<dt>Sideboard</dt><dd><ul>
<% deckList.sideboard.forEach(function(slot){ %>
<li>
<span is="mtg_deck_count"><%= slot.count %></span>
<span is="mtg_deck_cardname"><%= slot.card.name %></span>
<% }) %>
</ul></dd></dl>
<% } %>
</dd>
</dl>